{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">The Cast list of Django Unchained:</h2>
    {% for instance in object_list %}
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>
                    <form action="{{instance.get_absolute_url}}" style="margin: auto; width: 220px;">
                        <button type="submit" class="btn btn-light"><img src="{{instance.image.url}}" alt="" width="100"><br>{{instance.played_by}}</button>
                      </form>
                </td>
            </tr>
        </tbody>
    </table>
        
    {% endfor %}
{% endblock content %}
