{% extends 'base.html' %}

{% block content %}
<table class="table table-borderless">
    <tbody>
      <tr>
        <td><h2>{{object.played_by}}</h2></td>
        <td>
          <form action="edit/">
            <button type="submit" class="btn btn-light">Edit</button>
          </form>
        </td>
      </tr>
      <tr>
        <td><h3>{{object.character_name}}</h3></td>
      </tr>
      <tr>
        <td> <p><b>Description: </b> {{object.description}}</p></td>
        <td>{% if object.image %}
          <img src="{{object.image.url}}" alt="No Images!"  width="400">
            
          {% endif %}</td>
      </tr>
      <tr>
        <td> <p><b>Popular film: </b> {{object.popular_film}}</p></td>
      </tr>


    </tbody>
  </table>
  
  <br>
  
{% endblock content %}